.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: 105px;
  align-items: center;
  padding: 92px 24px 95px 24px;
}
.header__links-list {
  display: flex;
  gap: 31px;
  list-style-type: circle;
  padding-left: 26.5px;
}
.header__links-list-item > a {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.01em;
  color: #000;
  position: relative;
}
.header__links-list-item > a::before {
  width: 100%;
  bottom: 0;
  height: 1px;
  content: "";
  position: absolute;
  background-color: #000;
}
.header__links-list-item:nth-child(1) {
  list-style: none;
}
.header__links-list-item:nth-child(1) a {
  list-style: none;
}
.header__links-list-item:nth-child(1) a::before {
  content: none;
}
.header__logo {
  width: 137px;
  height: 105px;
}
.header__adress{
  display: flex;
  justify-content: end;
  padding-right: 62px;
}
address {
  all: initial;
  list-style: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  letter-spacing: 0.01em;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-family: inherit;
}
.adress__text {
  letter-spacing: 0;
}
.cover {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 162px 50px 51px 50px;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
}
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 0.6);
}
.cover__title {
  position: relative;
  z-index: 1;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 135px;
}
.aligned-text {
  display: block;
  margin-top: 20px;
  line-height: 1;
}
.aligned-text_center {
  text-align: center;
}
.aligned-text_right {
  text-align: end;
}
.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}
.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  color: #fff;
  word-spacing: 18px;
  padding-left: 28px;

}
.bet-button {
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 30px;
}
.lots {
  padding: 181px 24px 0;
}
.lots__headding {
  padding: 0 0 27px 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
}
.lots__card-list {
  display: flex;
  list-style: none;
  gap: 25px;
}
.lots__card-list-item {
  width: 334px;
  min-height: 563px;
}
.card-link {
  text-decoration: none;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 51px 40px 48px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}
.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}
.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}
.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
  z-index: 1;
}
.card__text {
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  z-index: 1;
}
.lots__look-more {
  display: inline-block;
  padding: 30px 0 145px 40px;
}
.lots__look-more-line {
  font-weight: 400;
  font-size: 20px;
  color: #000;
}
.block_about {
  padding: 0 23px 182px 23px;
  display: flex;
  align-content: space-between;
  gap: 72px;
}
.about_left {
  padding-left: 47px;
  padding-top: 35px;
}
.about_right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
}
.about_logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about_logo img {
  max-width: 151px;
}
.about__title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  padding-top: 133px;
  padding-bottom: 76px;
}
.about_text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0, 01em;
  color: #000;
}
.no-letter-spacing{
  letter-spacing: 0em;
}
.letter-spacing-extended {
  letter-spacing: 0.6em;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 98px;
  padding: 0 50px 95px 50px;
}
.footer__social-list {
  display: flex;
  gap: 48px;
  justify-content: end;
  list-style: none;
}
.footer__menu-list {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #000;
  list-style: none;
}
.footer__social-list-item {
  width: 48px;
  height: 48px;
}
.links {
  position: relative;
}
.links::before{
  content: "";
  display: block; 
  position: absolute; 
  bottom: 1.01px; 
  width: 98.5%; 
  height: 1px; 
  background: #000; 
}
.footer__menu-list-items > a {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.01em;
  color: #000;
  position: relative;
}
.footer__menu-list-items > a::before {
  width: 100%;
  bottom: 0;
  height: 1px;
  content: "";
  position: absolute;
  background-color: #000;
}
.footer__menu-list-items:nth-child(1) {
  list-style: none;
}
.footer__menu-list-items:nth-child(1) a {
  list-style: none;
}
.footer__menu-list-items:nth-child(1) a::before {
  content: none;
}
